# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
node_modules/
yarn.lock
.pip/
.pytest_cache/
.pytest/
coverage.xml


# Poetry
poetry.lock

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Miscellaneous
*.log
*.cache
*.DS_Store